.customers__title {
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 50px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  margin-bottom: -30px;
  margin-left: -30px;
  @include desktop {
    padding-bottom: 94px;
  }
}

.customers__item {
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  height: 92px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @include tablet {
    flex-basis: calc((100% - 90px) / 3);

    @include desktop {
      flex-basis: calc((100% - 180px) / 6);
    }
  }
}

.customers__link {
  @include flex();
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--highlighting-color);
    border: 1px solid var(--highlighting-color);
  }
}
