.feature__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  margin-bottom: -30px;
  margin-left: -30px;
  @include desktop {
    padding-bottom: 94px;
  }
}

.items {
  flex-basis: 100%;
  margin-left: 30px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @include tablet {
    flex-basis: calc((100% - 60px) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.icon-block {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  @include flex();
  border-radius: 4px;
}

.item__subtitle {
  text-align: center;
  @include tablet {
    text-align: left;
  }
  @include desktop {
    text-align: left;
  }
}
