.address__link {
  @include font(14, 400, 24, 0.03);
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--highlighting-color);
  }
}

.mail__link,
.tel__link {
  @include font(14, 400, 24, 0.03);
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--highlighting-color);
  }
}

footer {
  display: flex;
  text-align: center;
  background-color: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    text-align: left;
  }
}

address {
  margin-top: 13px;
  font-style: normal;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 60px;
  @include tablet {
    justify-content: space-around;
  }
  @include desktop {
  }
}

.footer__heading {
  font-family: "Roboto";

  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;

  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 20px;
}
.social {
  display: flex;
  justify-content: center;
}

.soc-link {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 12px;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.form__label {
  display: block;
  @include font(14, 700, 16, 0.03);
  text-transform: uppercase;

  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 20px;
}

.form__input {
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--primary-background-color);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  margin-bottom: 20px;
  outline: none;
  color: #fff;
  @include tablet {
    width: 358px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include desktop {
    display: inline-block;
  }
}

.form__submit-btn {
  width: 200px;
  height: 50px;
  @include font(16, 700, 30, 0.06);
  @include flex(inline-flex);
  background: var(--highlighting-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--highlighting-color);
    background-color: #ffffff;
  }
}

.form__icon {
  fill: currentColor;
  margin-left: 30px;
}
