.navigation__link.current {
  color: var(--highlighting-color);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--highlighting-color);
  }
}

.header {
  border-bottom: 1px solid var(--secondary-background-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    @include flex();
  }
}

.header__logo {
  margin-right: 93px;
}

.navigation__list {
  display: none;
  @include tablet {
    display: flex;
    & .item-1 {
      margin-right: 57px;
    }
    & .item-2 {
      margin-right: 70px;
    }
  }
}
.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--highlighting-color);
  }
}

.authentication {
  display: none;
  @include tablet {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 93px;
    margin-top: 20px;
  }
  @include desktop {
    display: flex;
    margin-left: auto;
    & .item-1 {
      margin-right: 30px;
    }
  }
}

.authentication__email,
.authentication__tel {
  @include flex();

  @include font(14, 500, 16, 0.02);

  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--highlighting-color);
  }
  @include tablet {
    margin-bottom: 10px;
  }
}

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-menu {
  width: 24px;
  height: 16px;
  fill: currentColor;
}

.menu-open {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #fff;
  color: var(--main-text-color);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--highlighting-color);
  }
  @include tablet {
    display: none;
  }
}

.mobile-menu {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateY(0);
}

.menu-content {
  display: flex;

  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 48px 0;
}

.menu-close {
  display: block;
  margin-left: auto;
  margin-right: 0;
  border: none;
  background-color: #fff;
  width: 40px;
  height: 40px;
}

.mob-icon-close:hover,
.mob-icon-close:focus {
  fill: var(--highlighting-color);
  cursor: pointer;
}

.mob-navigation__link {
  @include font(40, 500, 47, 0.02);
  color: var(--main-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--highlighting-color);
  }
}

.mob-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-authentication {
  margin-bottom: 64px;
}

.mob-authentication__tel {
  @include font(34, 500, 40, 0.02);
  color: var(--secondary-text-color);
  display: block;
  margin-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--highlighting-color);
  }
}

.mob-authentication__email {
  @include font(24, 500, 28, 0.02);
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--highlighting-color);
  }
}

.mob-social-link__list {
  display: flex;
  gap: 20px;
}
.mob-social-link__link {
  @include font(18, 500, 22, 0.02);
  color: var(--highlighting-color);
  position: relative;
  &::after {
    content: "";
    display: block;
    height: 22px;
    width: 1px;
    position: absolute;
    top: 0;
    right: -10px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
