.team {
  background-color: var(--secondary-background-color);
  padding-bottom: 60px;
  & .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.card-list__item {
  background-color: #ffffff;
  flex-basis: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;

  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin-right: 30px;
    margin-bottom: 0px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.card-list__image {
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: auto;
}

.card-list__name {
  @include font(16, 500, 19, 0.03);
  margin-bottom: 10px;
}

.card-list__info {
  @include font(16, 400, 19, 0.03);
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.social__link {
  content: "";
  @include flex();
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #fff;
    background-color: #2196f3;
  }
}
